.menuBar li{
    display:inline-block;
}
.menuBar a{
    text-decoration: none;
    color: white;
    padding: 0 50 0;
}
.menuBar a:hover {
    text-decoration: none;
    color:pink;
}
.menuBar ul {
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: black;
    font-size: 24px;
}

#home {
    text-align: center;
    padding: 150px;
    color: white;
}

h3 {
    text-align: center;
}
#about p{
    text-align: center;
    overflow-wrap: break-word;
}
* {
    box-sizing:border-box;
}
.col-sm-3{
    float: left;
    width: 25%;
}
.p-gallery{
    padding: 0 6;
    float: left;
    width: 25%;
}
.i-gallery{
    border: 1px solid #ccc;
}
.i-gallery img{
    width: 100%;
    height: auto;
}
.i-gallery .desc{
    text-align: center;
    padding: 5px;
}

@media only screen and (max-width: 700px){
    .p-gallery {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .p-gallery {
        width: 100%;
    }
}
